<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930131725081-k5g24nn40mc6e7473958qksnr9amrejt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930131725081-k5g24nn40mc6e7473958qksnr9amrejt</string>
	<key>API_KEY</key>
	<string>AIzaSyBzIDMvdP3u61qwnw1bMI1XhdutF27Jr40</string>
	<key>GCM_SENDER_ID</key>
	<string>930131725081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerfkzr.Crypto-App</string>
	<key>PROJECT_ID</key>
	<string>crypto-app-3661e</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-app-3661e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930131725081:ios:9459128964f6e93dbb1388</string>
</dict>
</plist>